
.cl1{
    background-color: #D3D3D3;
   
    
}

.bkimg1{
    
    background-image:url('back1.png');
    background-size: contain;
    height: 400px
}
.bkimg2{
    background-image:url('bck.jpg');
    background-size: contain;
    
    height: 400px;
}


.bd{
    border: none;
    border-bottom: dashed;
}

.colo{

    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    text-align: center;
}

.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.happen{
    
    
    
    border-bottom: 3px black solid;
    
}

.jc{
   justify-content: space-evenly;
   padding: 1.5%;
   
}

.img1{
    width: 100%;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly
    
    
}

.bt{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    
}


.brand{

    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    
}

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: #F5F5F5;
    text-align: center;
   
}

.para{
    
    padding-left: 20%;
    padding-right: 20%;

    
}

.icon{
   display: flex;
   justify-content:right;
   margin-bottom: 30px;
   
   

}

.chat{
    margin-right: 30px;
    
}
.cal{
    margin-right: 10px;
    
}

.m{
    margin-bottom: 20px;
}